section {
  padding: 10px;
}

section:nth-child(odd) {
  background-color: lightgreen;
}

section:nth-child(even) {
  background-color: lightgoldenrodyellow;
}

button {
  font-size: calc(10px + 2vmin);
}
